
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


section{

padding-top: 4rem;
  


}

header{
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 3rem;
  
  
}


.logo{
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;

  
}
.logo:hover {

text-shadow: 0px 0px 4px whitesmoke;

  }
 a {
  
  text-decoration: none;

}


li{
  list-style: none;
  display: inline;
  margin: 1rem;


}

li :hover{
 
text-shadow: 0px 0px 4px whitesmoke;


}

.la{
  color: whitesmoke;
  text-decoration: none;
  font-size: 0.8rem;

}



@media ( max-width: 800px) {

  header{
  
  display: flex;
  justify-content:space-between ;
  align-items: center;
  flex-wrap: nowrap;
  
}

header ul 
{
  
flex-wrap: nowrap;

}

.logo{
  
 font-size: clamp(0.65rem, 3.2vw, 0.85rem);
    white-space: nowrap;

}
.la{
  font-size: clamp(0.65rem, 3.2vw, 0.85rem);
    white-space: nowrap;

}
  
  
}

#aboutsection {
 
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
background-color: rgb(0, 0, 0);

  
}

.me, .photo, .text, .media {
 
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  display: flex;
  color: whitesmoke;
  

  
}
.media img{
 
  width: 3rem;
  

  
}





.media {
 
  
  display: flex;
  gap: 2rem;

  
}
.text{
 
  
font-size: small;
text-align: center;

}


.me{
 
  animation-name: GLOWWW;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 2rem;
  
  
}


















@keyframes GLOWWW {
  from {
    text-shadow: 0 0 20px rgb(255, 255, 255);
  }
  to {
    text-shadow: 0 0 30px rgb(255, 255, 255),
                 0 0 10px rgb(255, 255, 255);
  }
}

@keyframes GLOWWW1 {
  from {
    text-shadow: 0 0 20px rgb(0, 0, 0);
  }
  to {
    text-shadow: 0 0 30px rgb(8, 8, 8),
                 0 0 10px rgb(6, 6, 6);
  }
}