/* ----------------------------- */
/*            NAVBAR             */
/* ----------------------------- */

nav {
  background-color: #420A1F;
  height: 80px;
  display: block;
}

/* Logo / Name on the left */
.za {
  float: left;
  color: aliceblue;
  font-size: 25px;
  position: relative;
  top: 10px;
  left: 60px;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar list (right side) */
ul {
  list-style: none;
  float: right;
}

/* Navbar items */
li {
  float: left;
  color: aliceblue;
  padding: 15px;
  font-size: 20px;
  position: relative;
  right: 60px;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  
}



  .de:hover{color: #f2eef0; /* nouvelle couleur */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);}
  .dr:hover{color: #f2eef0; /* nouvelle couleur */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);}
  .te:hover{color: #f2eef0; /* nouvelle couleur */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);}
  .sr:hover{color: #f2eef0; /* nouvelle couleur */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);}
  

/* ----------------------------- */
/*        ABOUT SECTION          */
/* ----------------------------- */

#about-section {
  background-color: #e6e1e238;
  padding: 60px 0 80px;
  text-align: center;

   
    height: 800px
}

#Certifications-section{

background-color: #eddee4;
height: 800px



}

/* Section title */
h2 {
  color: #420A1F;
  font-family: "Allura", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 300%;
  text-align: center;
   margin-top: 0;
 
}

/* Photo wrapper (circle container) */
.photo {
  width: 35rem;

  animation-name: zoom;

  height: 35rem;
  margin: 0 auto 40px;      /* centers the circle */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  
  margin-top: 40px;
}

/* Actual image */
.photo img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: -40px auto 40px;
  }

  
 

.bio { 
     
    
  font-size: 1.2rem;
  color: #5a3e47;       /* soft wine/brown feminine tone */
  line-height: 1;     /* elegant spacing */
  margin: 0 auto;
  max-width: 1000px;     /* keeps text readable */
  padding: 10px 20px;

position: relative;

font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
top: -200px;}


  .social-link img { 
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
 
  padding: 20px;
  position: relative;
  top: -200px;



     }
     .ra{
position: relative;
top: 60px;


      }

.image{

        width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-shadow: 0 10px 25px rgba(255, 0, 0, 0.2);
  transition: transform 0.35s ease, box-shadow 0.35s ease;

  }

  .image:hover {
   transform: scale(1.08) ;
  box-shadow: 0 18px 35px rgba(255, 143, 183, 0.7);

   }

   .za:hover{    transform: scale(1.08) ; 
  color: #f2eef0; /* nouvelle couleur */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);  }

   .a:hover{    transform: scale(1.08) ;   }
   .b:hover{    transform: scale(1.08) ;   }
   .c:hover{    transform: scale(1.08) ;   }
   .d:hover{    transform: scale(1.08) ;   }


   .AI img {  

    overflow: hidden;
    width: 15rem;
    height: 10rem;
     }
   .display img {   

    overflow: hidden;
   width: 15rem;
    height: 10rem;
    }
   .started img {   

    overflow: hidden;
     width: 15rem;
    height: 10rem;
    }
  .AI  { 
    border: #420A1F;
    border-radius: 70px;
    box-sizing: content-box;

   }

  .display  {  


   }

  .started  {  


   }

  .certif  {  




    }

   

 