* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

header {
  background-color: rgb(24, 24, 24);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

  



html,
body {
  overflow-x: hidden;
}

section {
  padding-top: 50px;
  background-color: rgb(255, 255, 255);
}

/* LOGO */
.logo {
  float: left;
  font-size: 15px;
  color: white;
  position: relative;
  top: 15px;
  left: 30px;
}

.logo:hover {
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

/* NAV */
ul {
  float: right;
}

li {
  float: left;
  padding: 15px;
  list-style: none;
  font-size: 15px;
}

.la {
  color: whitesmoke;
  position: relative;
  right: 30px;
  text-decoration: none;
}

.la:hover {
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

/* ABOUT */
.about {
  text-align: center;
  width: auto;
  height: 800px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.media img:hover{
  transform: scale(1.08);
}


.media img {
  width: 60px;
}

.me {
  text-align: center;
  position: relative;
  font-size: 40px;
  top: 40px;
  animation: GLOWWW 1s ease-in-out infinite;
}

.photo img {
  margin-top: 100px;
  
}

.text {
  font-size: small;
  margin-top: 60px;
  line-height: 30px;
}

h2 {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 40px;
  animation: GLOWWW1 0.5s ease-in-out infinite;
  
}

/* CERTIFICATIONS */
.sectioncertification {
  width: auto;
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.certification {
  position: relative;
  top: 90px;
  
}

.certification img {
  width: 250px;
  text-align: center;
}

.certification :hover {
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

.cert,
h3 {
  position: relative;
  top: 25px;
  font-size: 17px;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
}

.certif {
  width: 300px;
  height: 300px;
 
    
  position: relative;
  left: 30px;
  background-color: rgb(255, 255, 255);
  top: -30px;

}

.certif img {
  position: relative;
  top: 10px;
  left: 25px;
 
}

.certif:hover {

 
  transform: scale(1.08);
}

.certification {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-top: 20px;
 
}

footer {
  width: 100%;
  height: 40px;
  z-index: 1000;
  position: sticky;
  background-color: black;
}

.foter {
  font-size: small;
  color: whitesmoke;
  align-content: center;
 
  position: relative;
  top: 10px;
}

.top {
  float: right;
  width: 120px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  animation: GLOWWW 0.5s ease-in-out infinite;

}

.fot {
  float: left;
  width: 300px;
}


/* project */

#projectsection{

width: 100%;
height: 800px;
background-color: rgb(255, 255, 255);

  }


/* journey */


#journeysection{

width: 100%;
height: 700px;
background-color: rgb(255, 255, 255);
  }





#contactsection{

width: 100%;
height: 400px;





  min-height: 400px; /* full screen height */
  background-image: url("OIOI.png");
  background-size: cover;       /* fills section perfectly */
  background-position: center;  /* keeps subject centered */
  background-repeat: no-repeat;


  }




 .contacte1 img {
  width: 60px;
  
}


.contacte2 img {
  width: 60px;
} 
 
 
 .contacte3 img {
  width: 60px;
}


.contact{

  text-align: center;
  


} 
 
.contacte1,  .contacte2,  .contacte3 {
  
display: flex;
width: 70px;
background-color: rgb(255, 255, 255);
height: 70px;
margin: 40px;
align-items: center;
justify-content: center;
float: left;
position: relative;
top: 60px;
left: 530px;
border: 1px solid white;
border-radius: 20px;


} 

.textcontact{

  color: whitesmoke;

  animation: GLOWWW 0.5s ease-in-out infinite;


} 

.contacte1:hover {

 
  transform: scale(1.08);
}



.contacte2:hover {

 
  transform: scale(1.08);
}


.contacte3:hover {

 
  transform: scale(1.08);
}




































 @keyframes GLOWWW {
   from {  

    text-shadow: 0 0 20px rgb(255, 255, 255);
      

  }

  to { 
     text-shadow: 0 0 30px rgb(255, 255, 255),
                    0 0 10px rgb(255, 255, 255);
     }

  }

 @keyframes GLOWWW1 {
   from {  

    text-shadow: 0 0 20px rgb(0, 0, 0);
      

  }

  to { 
     text-shadow: 0 0 30px rgb(8, 8, 8),
                    0 0 10px rgb(6, 6, 6);
     }
}






